#logo{
    padding: 7px;
    height: 73px;
    float: left;
}

header div, main {
    max-width: 1500px;
    margin: 0 auto;
}

header {
    background-color: black;
    width: 100%;
    height: 84px;
    position: absolute;
    z-index: 9999; 
}

header a {
    text-decoration: none;
    color: white;
    font-size: 20px
}

#menu_pc a{
    padding-right: 40px;
}

#menu_pc a:hover {
    color: white;
    text-decoration: underline;
}

#menu_pc{
    float: right;
}

#menu_pc li{
    padding: 0px;
    display: inline-block;
    list-style-type: none;
}

.slidermob{
    display: none;
}

input[type=text] {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-32.png');
    background-position: 5px 4px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 400px;
}

#lijn{
    padding-top: 200px
}

input{
    float: left;
}

#searchBar{
    padding-top: 15px;
}

/*speaker*/

#bestel{
    padding-bottom: 60px;
    padding-left: 160px;
    height: 60px;
}

#test12{
    padding-right: 20px;
    font-size: 18px;
    padding-bottom: 10px;
    display: block;   
}

#text12{
    padding-top: 40px;
    float: right;
}

h1{
    padding-left: 50px;
    color: black;
}

#lijn2{
    padding-top: 220px;
}

/* slider */



#img4{
    padding-top: 20px;
    float: left;
    padding-left: 10%;
    height: 431px
}


#slider{
    padding-right: 60px;
    float: left;;
}

#img3 {
    margin: 3px;
    padding-right: 0px;
    height: 70px;
    margin-bottom: -5px;
}

.w3-col {
  box-sizing: border-box;

}



[class*="w3-border-"] {
 border-style: solid;
 border-width: 1px; 
}


.w3-hover-shadow {
-webkit-transition: background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;
transition: background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;
}

.w3-hover-shadow:hover {
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important;
}

/* mobiel*/



@media screen and (max-width: 1600px) {
    #img4{
        padding-left: 10%;
    }  
}

@media screen and (max-width: 1450px) {
    #menu_pc a{
        padding-right: 25px;
    }   
}

@media screen and (max-width: 1400px) {
    #menu_pc a{
        padding-right: 15px;
    }
}

@media screen and (max-width: 1340px) {
    input[type=text]:focus {
        width: 200px;
    }
    
}

@media screen and (max-width: 1143px) {
    #logo{
        padding: 7px 20px;
    }
    
}


/*menu mobiel*/
/* top navbar*/

#test1{
    display: none;
}

.boxmobiel{
    display: none;
}


@media screen and (max-width: 1059px) {
    #menu_pc{
        display: none;
    }
    #test1 a{
        text-decoration: none;
        font-size: 40px
    }
    
    #mobiel_menu{
        margin: 0px;
        padding-left: 20px
    }

    #test1{
        position: absolute;
        display: block;
    }

    #test1:hover #test2 {
        display: block;
    }

    #test2 {
        padding: 10px;
        position: relative;
        height: 20px;
        background-color: black;

        display: none;
}

    #test2 a{
        display: block;
        font-size: 20px;
        color: white;
    }
    
    #logo{
        padding-top: 7px;
        padding-left: 90px;
    }
    
    input[type=text] {
        width: 160px;
    }
    
}

/* top navbar*/

@media screen and (max-width: 500px) {
    input[type=text] {
    display: none;
    }
    
    #HFID_speakerText{
        font-size: 20px
    }
    
    #HFID_speaker img{
    height: 200px;
    }
    
    #logo{
        padding: 13px 0px 0px 100px;
        height: 60px
    }
}

@media screen and (max-width: 500px) {
    #img4{
        height: 165px;
        padding: 0px;
        float: right;
        padding-bottom: 20px;
    }
    .box{
        float: none;
    }
    
    h1{
        padding: 0;
        font-size: 20px;
        text-align: center;
    }
    
    #bestel{
        float: none;
        padding: 50px 0px 0px 10px;
    }
    
    #slider{
        display: none;
    }
    
    .slidermob #img3{
        height: 18px;
        

    }
    
    #lijn{
        padding-top: 140px;
    }
    
    .boxmobiel{
        padding-bottom: 10px;
        display: block;
        float: left;
    }
    
    .w3-col {
        float: left;
    }

    .s4 {
        width: 16.6%;
    }

    .w3-content {
        max-width: 980px;
        margin: auto;
    }


    .w3-container {
        padding: 0.01em 16px;
    }
    
    #bestel{
        padding: 0px 9px 10px;
        
    }
    
    #test12{
        padding-left: 10px;
        font-size: 15px
    }
    
    #lijn2{
        padding: 0px;
    }
}