#logo{
    padding: 7px;
    height: 73px;
    float: left;
}

header div, main {
    max-width: 1500px;
    margin: 0 auto;
}

header {
    background-color: black;
    width: 100%;
    height: 84px;
    position: absolute;
    z-index: 9999; 
}

header a {
    text-decoration: none;
    color: white;
    font-size: 20px
}

#menu_pc a{
    display: inline-block;
    padding-right: 40px;
}

#menu_pc a:hover {
    color: white;
    text-decoration: underline;
}

#menu_pc li{
    padding: 0px;
    float: right;
    list-style-type: none;
}

input[type=text] {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-32.png');
    background-position: 5px 4px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 400px;
}

#lijn{
    padding-top: 200px
}

input{
    float: left;
}

#searchBar{
    padding-top: 15px;;
}

#float img{
    padding-left: 90px;
    padding-right: 40px;
    float: left;
    height: 200px;
}

#float {
    background-color: #ededed;
    padding-top: 30px;
    padding-bottom: 30px;
    float: right;
    padding-left: 310px;
}

#float h4{
    padding-right: 400px;
    padding-top: 30px;
}





#lijn2{
    padding-bottom: 130px;
}

/* mobiel*/




@media screen and (max-width: 1500px) {
    #menu_pc a{
        padding-right: 35px;
    }  
}

@media screen and (max-width: 1450px) {
    #menu_pc a{
        padding-right: 25px;
    }   
}

@media screen and (max-width: 1400px) {
    #menu_pc a{
        padding-right: 15px;
    }
}

@media screen and (max-width: 1340px) {
    input[type=text]:focus {
        width: 200px;
    }
    
}

@media screen and (max-width: 1143px) {
    #logo{
        padding: 7px 20px;
    }
    
}


/*menu mobiel*/

#test1{
    display: none;
}


@media screen and (max-width: 1059px) {
    #menu_pc{
        display: none;
    }
    #test1 a{
        text-decoration: none;
        font-size: 40px
    }
    
    #mobiel_menu{
        margin: 0px;
        padding-left: 20px
    }

    #test1{
        position: absolute;
        display: block;
    }

    #test1:hover #test2 {
        display: block;
    }

    #test2 {
        padding: 10px;
        position: relative;
        height: 20px;
        background-color: black;

        display: none;
}

    #test2 a{
        display: block;
        font-size: 20px;
        color: white;
    }
    
    #logo{
        padding-top: 7px;
        padding-left: 90px;
    }
    
    input[type=text] {
        width: 160px;
    }
    
}


@media screen and (max-width: 500px) {
    input[type=text] {
    display: none;
    }
    
    #HFID_speakerText{
        font-size: 20px
    }
    
    #HFID_speaker img{
    height: 200px;
    }
    
    #logo{
        padding: 13px 100px;
        height: 60px
    }
}








































































